html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-grow: 1;
}
/* carousel */

img{
    width: 100%;
}
/* carousel */
.sec{
    width: 100%;
}

.sec-item .txt{
    text-align: center;
    padding: 30px;
}
.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.sec-item .txt h4{
    text-align:initial;
    margin-bottom: 5%;
}
.sec-item a{
    color: black;
    text-decoration: none;
}
.sec-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.sec-item .pic{
    padding: 20px;
    width: 100%;
}
.third{
    background: #F4F4F4;
}
.thr{
  
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thr-item .txt h1{
    display: inline-block;
    padding: 30px;

}
.owl-carousel h4 ,.owl-carousel h5{
    margin-top: 2em;
    text-align: center;

}

.thr a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 1em 20px 1em auto;
   
}
.thr a:hover{
    color: #09a6d4;
    transition: .5s ease;
    scale: 1.1;
    border-radius: 5px;
}
.thr i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}

.aboutus-item .txt h1{
    display: inline-block;
    padding: 30px;
    
}
 

.aboutus-card-item .txt{
    text-align: center;
    padding: 30px;
}
.aboutus-card-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.aboutus-card-item .txt h4{
    text-align:left;
    margin-bottom: 5%;
}
.aboutus-card-item a{
    color: black;
    text-decoration: none;
}
.aboutus-card-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.fiv , .wrapper{
    margin: auto;
}


.six-item .txt{
    text-align: left;
    padding: 30px;
}
.six-item .txt h1{
    padding: 10px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.DistinctiveField{
    min-height: 30vh;
}
#Distinctive h1{
    display: block;
    text-align: center  ;
}


.txt a:hover{
    color: #09a6d4;
    transition: .1s ease;
    scale: 1.1;
    margin-left: 2em;
    border-radius: 5px;
}
.aboutus-card-item a:hover{
    color: #09a6d4;
    transition: .3s ease;
    margin-right: 2em;
    scale: 1.2;
    border-radius: 5px;
}









@media screen and (min-width:768px){
    .sec-item .txt , .thr-item .txt{
        text-align: left;
        /* padding: 30px; */
    }
    .sec-item .txt h1{
        padding: 10px;
        border-bottom: 1px solid;
        margin-bottom: 5%;
    }
    .thr-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .thr-card-item .card2{
        width: 50%;
    }
    .six-item .txt{
        text-align:left;
        padding: 30px;
    }
    .six-item .txt h1{
        padding: 10px;
    }

    
    
}
@media screen and (min-width:1024px){
    .sec,.thr, .thr-card-item , .aboutus, .footers, .six , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    #re{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    .sec-item .pic img{
        aspect-ratio: 4/3;
    }
    .sec-item .txt{
        width: 55%;
        display: flex;
        flex-direction: column;

    }
    .grow{
        flex-grow: 1;
    }
    .sec-item .pic{
        margin-top: 30px;
        width: 45%;
    } 
    .thr-item .txt{
        text-align: center;
        padding: 30px;
    }
    .thr-item .txt h1{
        padding: 10px;
    }
    .thr-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .thr-card-item .card2{
        width: 25%;
    }
    .aboutus-item .txt{
        text-align: center;
        padding: 30px;
    }
    .aboutus-item .txt h1{
        padding: 10px;
    }
    .aboutus-card-item .txt h4{
        text-align: center;
    }
    .six-item .txt{
        text-align: center;
        padding: 30px;
    }
    .six-item .txt h1{
        padding: 10px;
    }
   
    

}
