*{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
    /* border:  1px solid; */
    box-sizing: border-box;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-grow: 1;
}
/* carousel */
@media screen and (min-width:1400px){
    /* #carousel-inner{
        height: 850px;
    }    
    .carousel-inner img{
        aspect-ratio: 16/9;
    }      */
}
img{
    width: 100%;
}
/* carousel */
.sec{
    width: 100%;
}
/* .sec .title{
    text-align:center;
    padding: 20px;
} */
.sec-item .txt{
    text-align: center;
    padding: 30px;
}
.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.sec-item .txt h4{
    text-align:initial;
    margin-bottom: 5%;
}
.sec-item a{
    color: black;
    text-decoration: none;
}
.sec-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.sec-item .pic{
    padding: 20px;
    width: 100%;
}
.thr{
    background: #F4F4F4;
    padding: 10px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thr-item .txt h1{
    display: inline-block;
    padding: 30px;
    /* border-bottom: 3px solid; */
}
/* .thr-item .txt span{
    display:inline-block;
    width: 30%;
   
} */

.thr-card-item .card2{
    padding: 20px;
}
.thr-card-item .card2 .txt{
    margin-top: 5%;
    text-align: center;
}
.thr-card-item a{
    display: block;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
}
.thr-card-item  i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}

.aboutus-item .txt h1{
    display: inline-block;
    padding: 30px;
    /* border-bottom: 3px solid; */
}
 

.aboutus-card-item .txt{
    text-align: center;
    padding: 30px;
}
.aboutus-card-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.aboutus-card-item .txt h4{
    text-align:left;
    margin-bottom: 5%;
}
.aboutus-card-item a{
    color: black;
    text-decoration: none;
}
.aboutus-card-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.fiv , .wrapper{
    margin: auto;
}
.six{
    background: #F4F4F4;
    padding: 10px;
}
.six-item .txt h1{
    display: inline-block;
    padding: 30px;
    /* border-bottom: 3px solid; */
}

.six-card-item .card2{
    padding: 20px;
}
.six-card-item .card2 .txt{
    margin-top: 5%;
    text-align: center;
}
.six-card-item img{
    aspect-ratio: 4/3;
}
.six-card-item a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: right;
    margin-left: auto;
    margin-right: 22px;
}
.six-card-item  i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.DistinctiveField{
    min-height: 30vh;
}
#Distinctive h1{
    display: block;
    text-align: center  ;
}












@media screen and (min-width:768px){
    .sec-item .txt , .thr-item .txt{
        text-align: left;
        /* padding: 30px; */
    }
    .sec-item .txt h1{
        padding: 10px;
        border-bottom: 1px solid;
        margin-bottom: 5%;
    }
    .thr-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .thr-card-item .card2{
        width: 50%;
    }
    .six-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .six-card-item .card2{
        width: 33.3333333%;
    }

    
    
}
@media screen and (min-width:1024px){
    .sec, .thr-card-item , .aboutus, .footers, .six-card-item , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    #re{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    #re h1,  #re a,  #re h4{
        text-align: right;
    }
    .sec-item .pic img{
        aspect-ratio: 4/3;
    }
    .sec-item .txt{
        width: 55%;
        display: flex;
        flex-direction: column;

    }
    .grow{
        flex-grow: 1;
    }
    .sec-item .pic{
        margin-top: 30px;
        width: 45%;
    } 
    .thr-item .txt{
        text-align: center;
        padding: 30px;
    }
    .thr-item .txt h1{
        padding: 10px;
    }
    .thr-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .thr-card-item .card2{
        width: 25%;
    }
    .aboutus-item .txt{
        text-align: center;
        padding: 30px;
    }
    .aboutus-item .txt h1{
        padding: 10px;
    }
    .aboutus-card-item .txt h4{
        text-align: center;
    }
    .six-item .txt{
        text-align: center;
        padding: 30px;
    }
    .six-item .txt h1{
        padding: 10px;
    }
    .six-card-item{
        display: flex;
        flex-wrap: wrap;
    }
    .six-card-item .card2{
        width: 33.3333333%;
    }
    

}
