html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-grow: 1;
    background: #F4F4F4;
}
img{
    width: 100%;
}
button{
    border: none;
    background: #FFF;
}
.banner{
    height: 14em;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.banner  h1{
    margin-top: 60px;
    text-align: center;
    padding: 30px;
    color: #FFF;
    font-size: 40px;
    letter-spacing: .1em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.sec{
    width: 100%;
}
/* .sec .title{
    text-align:center;
    padding: 20px;
} */
.sec-item p{
    margin-top: 0.5em;
    font-size: .6em;
}
.sec-item .txt{
    text-align: center;
    padding: 30px;
}


.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.sec-item .txt h4{
    text-align:initial;
    margin-bottom: 5%;
    line-height: 1.4em;
}
.sec-item a{
    color: black;
    text-decoration: none;
}
.sec-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.sec-item .pic{
    padding: 20px;
    width: 100%;
}

.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 5%;

}
.sec-item img{
    aspect-ratio: 4/3;
}

.txt a:hover{
    color: #09a6d4;
    transition: .1s ease;
    scale: 1.1;
    margin-left: 2em;
    border-radius: 5px;
}
@media screen and (min-width:1200px){
    .sec, .thr-card-item , .aboutus, .footers, .six-card-item , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    .sec-item .txt{
        text-align: left;
        
    }

    .sec-item a{
        text-align: left;
    }
   
    .sec-item .pic img{
        aspect-ratio: 4/3;
    }
    .sec-item .txt{
        width: 55%;
        display: flex;
        flex-direction: column;

    }
    .sec-item .pic{
        margin-top: 3em;
        width: 45%;
    }
    .sec-item:nth-child(2n){
        flex-direction: row-reverse;
    }
}