/**********lokiSlider***********/
#lokiSlider img {
    object-fit: cover;
    filter: grayscale(50%);
  }
  
  #lokiSlider .carousel-caption {
    text-shadow: #333 0.3rem 0.3rem 0.5rem;
  }
  
  #lokiSlider .carousel-indicators > button {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 10px solid transparent;
  }
  