
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-grow: 1;
}
img{
    width: 100%;
}
.banner{
    height: 14em;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.banner  h1{
    margin-top: 60px;
    text-align: center;
    padding: 30px;
    color: #FFF;
    font-size: 40px;
    letter-spacing: .1em;
 }



.sec{
    width: 100%;
}
/* .sec .title{
    text-align:center;
    padding: 20px;
} */
.sec-item .txt{
    text-align: center;
    padding: 30px;
}
.sec-item .txt p{
    font-size: 25px;
}
.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.sec-item .txt h4{
    text-align:initial;
    margin-bottom: 5%;
}
.sec-item a{
    color: black;
    text-decoration: none;
}
.sec-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.sec-item .pic{
    padding: 20px;
    width: 100%;
}
.sec-item .pic img{

}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.txt a:hover{
    color: #09a6d4;
    transition: .1s ease;
    scale: 1.1;
    border-radius: 5px;
}
@media screen and (1024px > width > 767px){
    .sec-item:nth-child(2) .txt{
        margin-top: -3em;
        border-top: 1px solid;
    }
    .sec-item:nth-child(3) .txt{
        margin-top: -3em;
        border-top: 1px solid;
    }
    .sec-item:nth-child(4) .txt{
        border-top: 1px solid;
    }
    .sec-item:nth-child(4) .pic{

        margin-top: 2em;
    }
  
}



@media screen and (min-width:768px){
    .sec, .thr-card-item , .aboutus, .footers, .six-card-item , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    .sec-item .txt{
        width: 50%;
    }
    .sec-item .pic{
        width: 50%;
    }


    .sec-item:nth-child(2n){
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}
@media screen and (min-width:1024px){
    .sec, .thr-card-item , .aboutus, .footers, .six-card-item , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    .sec-item .txt{
        width: 60%;
        margin-top: 3em;
    }
    .sec-item .pic{
        width: 40%;
    }
    .sec-item:nth-child(2n){
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

   
    .sec-item:nth-child(n) .txt h1,  .sec-item:nth-child(n) .txt a,  .sec-item:nth-child(n) .txt h4{
        text-align: left;
    }
    .sec-item:nth-child(n) .txt{
       text-align: left;
    }
   
}
