
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-grow: 1;
    background: #F4F4F4;
}
img{
    width: 100%;
}
button{
    border: none;
    background: #FFF;
}
.banner{
    height: 14em;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.banner  h1{
    margin-top: 60px;
    text-align: center;
    padding: 40px;
    color: #FFF;
    font-size: 40px;
    letter-spacing: .1em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.card-item{
    padding: 15px;
    border-radius: 5%;
}
.card-item .card{
    margin: .5em;
}
.card{
    text-align: center;
}
.card .pic{
    border-bottom: #000 2px solid;
}
.card .txt{
    display: flex;
    flex-direction: column;
    padding: .1em;
}
.grow{
    flex-grow: 1;
}
.card h4{
    margin-top: .5em;
}
.card p{
    padding: 1.1em;
    text-align: left;
}
.btn button{
    padding: 10px;
    background: #674b7e;
    color: #FFF;
    border-radius: 5px;
}
.btn button:hover{
    background: #613285;
    transition: .5s;
}
#hide{
    display: none;
}
.sec{
    width: 100%;
}
/* .sec .title{
    text-align:center;
    padding: 20px;
} */
.sec-item .txt{
    text-align: center;
    padding: 30px;
}
.sec-item .txt h1{
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10%;
}
.sec-item .txt h4{
    text-align:initial;
    margin-bottom: 5%;
    line-height: 1.4em;
}
.sec-item a{
    margin-top: -1em;
    color: black;
    text-decoration: none;
    text-align: center;
}
.sec-item .txt i{
    text-align: center;
    vertical-align: bottom;
    margin-left: 6px;
}
.sec-item .pic{
    padding: 20px;
    width: 100%;
}
.txt a:hover{
    /* color: #09a6d4;
    transition: .1s ease;
    scale: 1.1;
    margin-left: 2em;
    border-radius: 5px; */
}



@media screen and (min-width:768px){
    .card-item{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
    .card-item .card{
       width: 380px;
    }
    .sec-item .txt , .thr-item .txt{
        text-align: left;
        /* padding: 30px; */
    }
    .sec-item .txt h1{
        padding: 10px;
        border-bottom: 1px solid;
        margin-bottom: 5%;
    }
    
}
@media screen and (min-width:1200px){
    .footers{
        max-width: 1400px;
        margin: auto;
    }
    .card-item{
        flex-wrap: nowrap;
     }
    /* .card-item .card{
       flex-grow: 1;
     } */
     .sec, .thr-card-item , .aboutus, .footers, .six-card-item , .DistinctiveField{
        max-width: 1400px;
        margin: auto;
    }
    .sec-item{
        display: flex;
        justify-content: center;
    }
    #re{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .sec-item .pic img{
        aspect-ratio: 4/3;
    }
    .sec-item .txt{
        width: 55%;
        display: flex;
        flex-direction: column;

    }
    .sec-item .pic{
        margin-top: 3em;
        width: 45%;
    }
    .sec-item:nth-child(2n){
        flex-direction: row-reverse;
    }
   
}